.search {
  background: white;
  padding: 37px 40px;
  border-bottom: 1px solid var(--gray-400);
}
.search-box {
  position: relative;
  max-width: 300px;
}
.settings-page {
  padding: 0;
  background: white;
}

.breadcrumb {
  font-size: 14px;
  color: #999999;
  padding: 14px 40px;
  margin-bottom: 4px;
}

.breadcrumb span:last-child {
  font-weight: 500;
  color: #1A1A1A;
}

.settings-container {
  background: white;
  border: 1px solid var(--gray-300);
  border-radius: 12px;
  padding: 16px 15px 14px 15px;
  margin: 0px 20px 20px 20px;
  max-width: 95%;
}

.settings-container h2 {
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: var(--gray-900);
  margin-bottom: 0;                 
  width: fit-content;               
  padding-bottom: 6px;              
  border-bottom: 2px solid #848484; 
}
.settings-title-separator {
  width: 100%;
  height: 1px;
  background: #E5E5E5;
  margin: 0px 0px 12px 0px;
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.settings-form .form-group label {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-700);
}

.settings-form .form-group input {
  padding: 12px;
  max-width: 450px; 
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  font-size: 14px;
}

.settings-form .form-group input:disabled {
  background-color: var(--gray-100);
  cursor: not-allowed;
}

.settings-form .form-group input:focus:not(:disabled) {
  outline: none;
  border-color: var(--primary-blue);
}

.success-message {
  background-color: #E8F5E9;
  color: var(--success-green);
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}

.error-message {
  background-color: #FFEBEE;
  color: var(--error-red);
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}

.btn-save-settings {
  padding: 12px 24px;
  background-color: #D9D9D9;
  color: #636060;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 12px;
  width: 140px;                  /* not full width */
  align-self: flex-end; 
}

.btn-save-settings:hover {
  background-color: #C0C0C0;
}
